.btn {
    font-size: 1.3rem;
    color: white;
    padding: 0.5vw 1vw;
    outline: none;
    border: 0.2vw solid black;
    border-radius: 0.5vw;
    cursor: pointer;
    /* background-color: rgb(92, 153, 1); */
    background-color: rgb(108, 0, 197);
}

.btn:hover {
    background-color: rgb(84, 1, 153);
}