.home {
  min-height: 88vh;
  padding: 2vw;
  /* background: repeating-linear-gradient(
    0deg,
    rgb(171, 78, 247),
    rgb(217, 170, 255) 1.5vw,
    rgb(237, 215, 255) 1.5vw,
    rgb(255, 203, 255) 1.5vw
  ); */
  /* background-color: violet; */
}

.home .head {
  font-size: 3vw;
  text-align: center;
  /* text-shadow: 0.3vw 0.3vw 0.8vw rgb(83, 1, 150); */
}

/* Media Queries */

@media only screen and (max-width: 480px) {

  .home {
    padding: 4vw;
  }

  .home .head {
    font-size: 6vw;
    /* text-shadow: 0.3vw 0.3vw 0.8vw rgb(83, 1, 150); */
  }

}

@media only screen and (min-width: 481px) and (max-width: 720px) {

  .home {
    padding: 4vw;
  }

  .home .head {
    font-size: 5vw;
    /* text-shadow: 0.3vw 0.3vw 0.8vw rgb(83, 1, 150); */
  }

}

@media only screen and (min-width: 721px) and (max-width: 1024px) {

  .home {
    padding: 3vw;
  }

  .home .head {
    font-size: 3.5vw;
    /* text-shadow: 0.3vw 0.3vw 0.8vw rgb(83, 1, 150); */
  }

}
