.todoform {
    /* min-height: 20vh; */
    width: 40%;
    margin: 3vh auto;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    /* border: none;
    border-radius: 1vw; */
    /* background-color: rgb(146, 43, 146); */
}

.todoform input {
    font-size: 1.3rem;
    margin: 0 2vh;
    padding: 0.5vw 0.8vw;
    outline: none;
    border: 0.2vw solid black;
    border-radius: 0.5vw;
}